
body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #ede5e5;
  --color-bg-toggle: #1e90ff;
  --color-bg-sidebar: #FFFAFA;
  --color-bg-hover: #f6e4e4;
  --color-bg-header: #f6e4e4;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #434654;
  --color-bg-toggle: #a9a9a9;
  --color-bg-sidebar: #202123;
  --color-bg-hover: #343541;
  --color-bg-header: #343541;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: sans-serif;
    transition: background 0.25s ease-in-out;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
  }