.container {
    height: calc(100vh - 78px);
    background-color: var(--color-bg-sidebar);
    padding: 0 8px;
}

.title {
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}